body {
    background: #f3f2f0;
}

.principal {
    height: 60%;
}

h2 {
    padding-top: 2%;
    padding-bottom: 3%;
}

h6 {
    padding-bottom: 5%;
}

.imagen {
    padding: 0;
    background: url(../img/fondo3.jpg) center;
    background-size: cover;
    height: 100%;
}

.formulario {
    background: #fff;
}
.imagen2 {
    padding: 0;
    background: url(../img/fondo_proyectos.jpg) center;
    background-size: cover;
    height: 100%;
}
.imagen3{
    padding: 0;
    background: url(../img/fondo2.jpg) center;
    background-size: cover;
    height: 100%;
}
.imagen4{
    padding: 0;
    background: url(../img/fondo4.jpg) center;
    background-size: cover;
    height: 100%;
}

.imagen5{
    padding: 0;
    background: url(../img/fondo5.png) center;
    background-size: cover;
    height: 100%;
}

.tabla {
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;

}